.container {
    background-color: red;
    margin-top: 64px;
}

.wallets {
    background-color: aqua;
}

.filters {

    background-color: aqua;
}

.graphics {

    background-color: aqua;
}

.balances {

    background-color: aqua;
}